[submodule "moduru"]
	path = moduru
	url = https://github.com/izzyreal/moduru
	branch = no-conan
[submodule "ctoot"]
	path = ctoot
	url = https://github.com/izzyreal/ctoot
	branch = no-conan
[submodule "mpc"]
	path = mpc
	url = https://github.com/izzyreal/mpc
	branch = no-conan
[submodule "juce-raw-keyboard-input-module"]
	path = juce-raw-keyboard-input-module
	url = https://github.com/izzyreal/juce-raw-keyboard-input-module
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE
